<div class="container">
    <!-- <div class="row">
        <div class="col">
        <h3 class="text-center"></h3>
         </div>
    </div> -->
    <div class="row">
        <caption class="text-center" style="font-weight: bold;font-size: xx-large;">AUDITS</caption>
        <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr class="table-primary text-center">
                    <th scope="col">Branch</th>
                    <th scope="col">Lead Examiner </th>
                    <th scope="col">Associate Examiner </th>                   
                    <th scope="col">Audit Hours</th>
                    <th scope="col">Audit Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let auidt of resResult" class="text-center">
                    <td>
                        <!-- <div *ngIf="book.active == true " > -->
                        <button type="button" class="btn btn-info" 
                        (click)="EnableClick(auidt)"
                        data-backdrop="static" data-keyboard="false">{{ auidt.branchId}}</button>
                        <!-- </div> -->
                    </td>
                    <td>{{ auidt.leadExaminerName}}</td>
                    <td>{{ auidt.associateExaminerName}}</td>
                    <td>{{ auidt.auditHours}}</td>
                    <td [ngClass]="[ auidt.auditStatusId ==2 ? 'btn-default' : 'border-left-0 border-danger']">{{ auidt.auditDate| date}}</td>
                    <td [ngClass]="[ auidt.auditStatusId ==2 ? 'btn-default' : 'border border-danger']">{{auidt.auditStatuses}}</td>
                   
                  
                    
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>